</br>

<div class="ui container">
  <form class="ui form">

    <div class="fields">
      <div class="field">
        <label>Away Name:</label>
        <input type="text" name="away_name">
      </div>

      <div class="field">
        <label>Away Score:</label>
        <input type="number" name="away_score">
      </div>

      <div class="field">
        <label>Away Hits:</label>
        <input type="number" name="away_hits">
      </div>

      <div class="field">
        <label>Away Errors:</label>
        <input type="number" name="away_errors">
      </div>
    </div>

    <div class="fields">
      <div class="field">
        <label>Home Name:</label>
        <input type="text" name="home_name">
      </div>

      <div class="field">
        <label>Home Score:</label>
        <input type="number" name="home_score">
      </div>

      <div class="field">
        <label>Home Hits:</label>
        <input type="number" name="home_hits">
      </div>

      <div class="field">
        <label>Home Errors:</label>
        <input type="number" name="home_errors">
      </div>
    </div>

    <div class="fields">
      <div class="field">
        <label>Winning Pitcher:</label>
        <input type="text" name="winning_pitcher">
      </div>

      <div class="field">
        <label>Losing Pitcher:</label>
        <input type="text" name="losing_pitcher">
      </div>

      <div class="field">
        <label>Saving Pitcher:</label>
        <input type="text" name="saving_pitcher">
      </div>

      <div class="field">
        <label>Date:</label>
        <input type="date" name="date_of_game">
      </div>
    </div>

    <div class="inline field">
      <div class="ui toggle checkbox">
        <label>Home</label>
        <input type="checkbox" tabindex="0" class="hidden" name="home">
      </div> 
    </div>

    <div class="inline field">
      <div class="ui toggle checkbox">
        <label>Win</label>
        <input type="checkbox" tabindex="0" class="hidden" name="win">
      </div> 
    </div>

    <div class="inline field">
      <div class="ui toggle checkbox">
        <label>Playoff</label>
        <input type="checkbox" tabindex="0" class="hidden" name="playoff">
      </div> 
    </div>

    <div class="fields">

      <div class="field">
        <label>Team Player:<label>
        <div class="ui search selection dropdown">
          <input type="hidden" name="team_player">
          <i class="dropdown icon"></i>
          <div class="default text">Team Player</div>
          <div class="menu">
            <% Player.order(:name).each do |player| %>
              <div class="item" data-value="<%= player.id %>"><%= player.name %></div>
            <% end %>
          </div>
        </div>
      </div>

      <div class="field">
        <label>Game MVP:<label>
        <div class="ui search selection dropdown">
          <input type="hidden" name="game_mvp">
          <i class="dropdown icon"></i>
          <div class="default text">Game MVP</div>
          <div class="menu">
            <% Player.order(:name).each do |player| %>
              <div class="item" data-value="<%= player.id %>"><%= player.name %></div>
            <% end %>
          </div>
        </div>
      </div>

    </div>

    <button class="ui primary button" type="submit">Submit</button>

  </form>
</div>
