<div class="ui container">
  <div class="ui container" style="padding: 20px;">
    <h2 class="ui header">
       <div class="content">
         Player Data
       </div>
    </h2>

    <a href="/data_entry/create_player">
      <button class="ui primary button">
        Create a Player
      </button>
    </a>

    <a href="/data_entry/edit_player">
      <button class="ui primary button">
        Edit a Player
      </button>
    </a>
  </div>

  <div class="ui container" style="padding: 20px;">
    <h2 class="ui header">
       <div class="content">
         Game Data
       </div>
    </h2>

    <a href="/data_entry/create_game">
      <button class="ui primary button">
        Create a Game
      </button>
    </a>

    <a href="/data_entry/edit_game">
      <button class="ui primary button">
        Edit a Game
      </button>
    </a>
  </div>

  <div class="ui container" style="padding: 20px;">
    <h2 class="ui header">
       <div class="content">
         Offensive Statline Data
       </div>
    </h2>

    <a href="/data_entry/create_offensive_statline">
      <button class="ui primary button">
        Create an Offensive Statline
      </button>
    </a>

    <a href="/data_entry/edit_offensive_statline">
      <button class="ui primary button">
        Edit an Offensive Statline
      </button>
    </a>
  </div>

  <div class="ui container" style="padding: 20px;">
    <h2 class="ui header">
       <div class="content">
         Pitching Statline Data
       </div>
    </h2>

    <a href="/data_entry/create_pitching_statline">
      <button class="ui primary button">
        Create a Pitching Statline
      </button>
    </a>

    <a href="/data_entry/edit_pitching_statline">
      <button class="ui primary button">
        Edit a Pitching Statline
      </button>
    </a>
  </div>

</div>
