<div class="ui raised very padded text container segment">
  <div class="ui huge header">Statistics</div>

  </br></br>

  <a href="/statistics/player">
    <div class="ui container" id="roster">
      <h2 class="ui header">
        <i class="user icon"></i>
        <div class="content">
          Statistics by Player
        </div>
      </h2>
      <p>View the career statistics for each player</p>
    </div>
  </a>

  </br>

  <a href="/statistics/game">
    <div class="ui container" id="record">
      <h2 class="ui header">
        <i class="book icon"></i>
        <div class="content">
          Statistics by Game
        </div>
      </h2>
      <p>View the box score for each game</p>
    </div>
  </a>

  </br>

  <a href="/statistics/all_time_leaders">
    <div class="ui container" id="statistics">
      <h2 class="ui header">
        <i class="book icon"></i>
        <div class="content">
          All-Time Leaders
        </div>
      </h2>
      <p>View the All-Time leaders in statistics for 2nd String Baseball</p>
    </div>
  </a>

</div>
