<div class="ui raised very padded text container segment">
  <div class="ui huge header">Welcome to 2nd String Baseball</div>

  </br></br>

  <a href="/roster/index">
    <div class="ui container" id="roster">
      <h2 class="ui header">
        <i class="baseball ball icon"></i>
        <div class="content">
          View the Current Roster
        </div>
      </h2>
      <p>View the current players who are playing for 2nd String Baseball during the Summer 2018 Season.</p>
    </div>
  </a>

  </br>

  <a href="/statistics/game">
    <div class="ui container" id="record">
      <h2 class="ui header">
        <i class="chart line icon"></i>
        <div class="content">
          View the Current Record
        </div>
      </h2>
      <p>View the current season record and games this season.</p>
    </div>
  </a>

  </br>

  <a href="/statistics/index">
    <div class="ui container" id="statistics">
      <h2 class="ui header">
        <i class="calculator icon"></i>
        <div class="content">
          View the statistics
        </div>
      </h2>
      <p>View the individual player statistics, statistics by game, and season and all-time leaders.</p>
    </div>
  </a>

  </br>

  <a href="/gallery/index">
    <div class="ui container" id="gallery">
      <h2 class="ui header">
        <i class="camera retro icon"></i>
        <div class="content">
          View the Gallery
        </div>
      </h2>
      <p>View the posts from the official Instagram and other photos captured this season.</p>
    </div>
  </a>

</div>
